input[type="file"] {
    display: none;
}

.active-card-view {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 300px;
    user-select: none;
}

.active-card-view:hover {
    background: lightblue;
}

.button-container {
    display: flex;
}

.float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child {
    float: left;
    padding: 20px;
    width: 50%;
}

.grid-container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 180px 180px;
    grid-template-rows: auto;
}

.user-button {
    border: 1px solid #ccc;
    cursor: pointer;
    display: inline-block;
    padding: 6px 12px;
}